.open1 {
    background-color: #f3f2ef;
}

.div1 {
    align-items: center;
    margin-left: 440px;

}

.img1 {
    border-radius: 20px;
}

.Calories {
    color: rgb(7, 143, 125);
}

.input1 {
    font-size: 25px;
    margin-bottom: 15px;
    width: 400px;
}

.img2 {
    background-color: beige;
    color: blue;
    border-radius: 50%;
}

.button1 {
    border-color: beige;
}

.button2 {
    background-color: #edca67;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    padding-top: 16px;
    border-width: 0;
    padding-bottom: 16px;
    width: 400px;
}